body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    text-align: center;
    background: linear-gradient(135deg, #0054a4, #0031ad);
    color: #fff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.header-name {
    font-size: 36px;
}

.header-title {
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.column {
    flex: 1;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateZ(10px);
    transition: transform 0.2s;
}

.column:hover {
    transform: translateZ(20px);
}

h2 {
    font-size: 24px;
    color: #0078d4;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #0078d4;
}

#portfolio {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateZ(10px);
    transition: transform 0.2s;
}

#portfolio:hover {
    transform: translateZ(20px);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateZ(10px);
    transition: transform 0.2s;
}

.project:hover {
    transform: translateZ(20px);
}

.project h3 {
    font-size: 20px;
    color: #0078d4;
}

.project p {
    font-size: 16px;
}

.column:hover {
    transform: translateZ(20px);
    border: 2px solid #0078d4; /* Cambia il colore del bordo quando passi sopra */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Cambia l'ombra quando passi sopra */
}

#portfolio:hover {
    transform: translateZ(20px);
    border: 2px solid #0078d4; /* Cambia il colore del bordo quando passi sopra */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Cambia l'ombra quando passi sopra */
}

.project:hover {
    transform: translateZ(20px);
    border: 2px solid #0078d4; /* Cambia il colore del bordo quando passi sopra */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Cambia l'ombra quando passi sopra */
}